.ratingContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.starContainer {
  display: flex;
}

.textContainer {
  line-height: 1;
  margin: 0;
  color: gold;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.starStyle {
  width: 25px;
  height: 25px;
  display: block;
  cursor: 'pointer';
}

/*

EMPTY STAR



*/
